<section id='about' class="about-container container-fluid">
        <div class='container'>

            <div 
                data-aos="fade-up"
                data-aos-duration="2000"
                class="content"
            >
                <div class='aboutTitle'>
                    <div>
                        <h3>Who I am</h3>
                    </div>
                    <div>
                        <h2 class='hashTag'>#aboutMe</h2>
                    </div>
                </div>
                <div class='aboutText'>
                    <p>
                        Frontend Developer, currently studying to become a Full Stack Developer and Software engineer.
                        Expert in capital markets with an extensive knowledge in customer service.
                        I consider important to continuously grow and develop my skills exploring outside my comfort zone.
                        I love teamwork and to contribute with my knowledge when I see someone needs it.
                    </p>
                    <p>
                        🚀 <span>What am I looking for in my career?</span> I want to continue advancing as
                        a software developer to be able to implement solutions to social problems
                        through the application of technologies such as <span class='colortext'>blockchain</span> by pouring all: ;
                        my effort and knowledge into organizations that are aligned with my goals
                        in creating creative solutions for society.
                    </p>
                    <p>
                        💥 <span>How do I seek it?</span> Challenging my knowledge permanently to expand it in
                        new fields that allow me to have the necessary tools to face projects of 
                        diverse.
                    </p>
                    <p>
                        👓 <span>And in the future?</span> I would like to be able to share the knowledge acquired
                        in teaching and creating content to encourage more people to join this passion
                        that is programming.
                    </p>
                </div>
            </div>
        </div>
</section>

<style>
    .about-container{
        color: white;
        width: 100%;
        height: auto;

        background-color:rgb(16,16,16);
        font-family: var(--global-font-family3);
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    .content{
        width: 50%;
        padding-left: 5px;
        padding-right: 5px;

    }
    .aboutTitle {
        display: flex;
        flex-direction: column;
    }
    .aboutTitle > div {
        display: flex;
        justify-content: flex-end;
    }
    .img-style{
        width: 100%;
    }
    .hashTag{
        margin-bottom: 0px;
        margin-top: 0px;
        color: var(--global-color-green);
        font-size: 3rem !important;
        font-weight: bold;
    }

    .aboutTitle h3 {
        margin-bottom: 0px;
        margin-top: 0px;
        font-family: var(--global-font-family3) !important;
        font-weight: 900;
        text-align: right;
        font-size: 28px;
    }

    .about-container > div > div > .aboutText {
        font-weight: 100;
    }

    .aboutText > p {
        font-size: 20px;
        line-height: 1.4;
        text-align: right;
        font-weight: bold;
        color: var(--text-light);
    }
    .aboutText > p > span {
        color: #FFF;
        font-family: 'Founders Grotesk Bold';
    }

    .colortext{
        color: var(--global-color-orange)!important;
    }

    @media (max-width: 1000px) {
        .aboutText > p {
            font-size: 16px;
            text-align: right;
        }
        .aboutImg{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            margin-bottom: 20px;

        }
    }
</style>